﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>Cart</h3>
    <form method="post" action="@ViewBag.payPayConfig.PostUrl">
        <input type="hidden" name="upload" value="1" />
        <input type="hidden" name="return" value="@ViewBag.payPayConfig.ReturnUrl" />
        <input type="hidden" name="cmd" value="_cart" />
        <input type="hidden" name="business" value="@ViewBag.payPayConfig.Business" />

        @{
        var index = 1;
        }
        @foreach (var product in ViewBag.products)
        {
        <input type="hidden" name="item_number_@index" value="@product.Id" />
        <input type="hidden" name="item_name_@index" value="@product.Name" />
        <input type="hidden" name="amount_@index" value="@product.Price" />
        <input type="hidden" name="quantity_@index" value="@product.Quantity" />
            index++;
        }
        <input type="image" src="https://www.paypal.com/en_us/i/btn/btn_xpressCheckout.gif" />

    </form>
</body>
</html>
